<template>
  <div id="app" :dir="isArabic ? 'rtl' : 'ltr'">
    <main>
      <div class="loading-wrapper">
        <div :class="`ui ${$store.getters.isLoading ? 'active' : ''} dimmer`">
          <div class="ui large text loader">Loading</div>
        </div>
      </div>
      <alert-messages></alert-messages>
      <div :class="`ui ${isArabic ? 'right' : 'left'} vertical ${showSidebar ? 'visible' : ''} medium sidebar sidebar-menu-list vertical menu primary-color`" @click="showSidebar = false">
        <a class="item" @click="toggleSidebar">
          <i class="sidebar icon"></i>
          {{$t('Hide')}}
        </a>

        <router-link v-if="!$store.getters.isUserAuthenticated" :class="`${isThisPage('/login') ? 'active ' : '' }item`" to="/login">
          <i class="block user icon"></i>
          {{$t('Login')}}
        </router-link>

        <a class="item" v-if="$store.getters.isUserAuthenticated" href="#" @click="logout">
          <i class="block power card icon"></i>
          {{$t('Sign off')}}
        </a>
      
        <a class="item" href="#" @click="openiWeydiFBPage">
          <i class="block help icon"></i>
          {{$t('Facebook page')}}
        </a>

        <router-link class="item" to="/terms">
          <i class="block list icon"></i>
          {{$t('Terms of Service')}}
        </router-link>

        <router-link class="item" to="/privacy">
          <i class="block user secret icon"></i>
          {{$t('Privacy policy')}}
        </router-link>

        <div class="item">
          <i class="block globe icon"></i>
          {{$t('Language')}}:
          
          <div class="ui mini vertical primary buttons language-btn-list">
            <button :class="`ui button${$i18n.locale() === 'en' ? ' selected' : ''}`" @click="setLanguage('en')">
              <i class="us flag"></i>
              English
            </button>
            <button :class="`ui button${$i18n.locale() === 'so' ? ' selected' : ''}`" @click="setLanguage('so')">
              <i class="so flag"></i>
              Af-Soomaali
            </button>
            <button :class="`ui button${$i18n.locale() === 'ar' ? ' selected' : ''}`" @click="setLanguage('ar')">
              <i class="sa flag"></i>
              العربية
            </button>
          </div>
        </div>
      </div>
      <div class="ui secondary pointing menu primary-color top-bar-menus" @click="$store.dispatch(LOADING, {isLoading: false})">
        <a v-if="!showSidebar" href="#" @click="toggleSidebar" class="header item">
          <i class="primary-color sidebar icon"></i>
        </a>

        <router-link :class="`${isThisPage('/') ? 'active ' : '' }item`" to="/">
          <i class="home icon"></i>
          {{$t('Home')}}
        </router-link>
        
        <div :class="`${isArabic ? 'left' : 'right'} menu`">
          <router-link :class="`${isThisPage('/question') ? 'active ' : '' }item`" to="/question">
            <i class="plus icon"></i>
          </router-link>
        </div>
      </div>
      <div class="pusher">
        <router-view></router-view>
      </div>
      
    </main>
    <footer dir="ltr">
      <div class="version">version: {{$store.getters.getVersion || '0.0.0'}}</div>
      <div class="copy-right">© {{currentYear}} <a href="http://iweydi.com" target="_blank">iWeydi</a></div>
    </footer>
  </div>
</template>

<script>
  import {RESET_USER_AUTH, LOADING, ADD_ALERT_MESSAGE, USER_PROFIE_RESPONSE} from './store/mutations-constants'
  import Messages from './components/Messages.vue'
  import {EventBus} from './main'
  import jwtDecode from 'jwt-decode'
  window.jwtDecode = jwtDecode

  export default {
    name: 'app',
    data () {
      return {
        showSidebar: false,
        LOADING: LOADING,
        currentYear: '2018'
      }
    },
    computed: {
      isArabic () {
        return this.$i18n.locale() === 'ar'
      }
    },
    methods: {
      setLanguage (lang) {
        if (lang && (lang === 'en' || lang === 'so' || lang === 'ar')) {
          this.$i18n.set(lang)
          localStorage.setItem('user_lang', lang)
        } else {
          this.$i18n.set('en')
        }
      },
      initLanguage () {
        let lang = localStorage.getItem('user_lang')
        if (lang && (lang === 'en' || lang === 'so' || lang === 'ar')) {
          this.$i18n.set(lang)
        } else {
          this.$i18n.set('en')
        }
      },
      logout (e) {
        localStorage.clear()
        this.$store.dispatch(RESET_USER_AUTH, {})
        EventBus.$emit(ADD_ALERT_MESSAGE, {text: `logged out successfully`, msgType: 'positive'})
        this.$router.push('/login')
      },
      openiWeydiFBPage () {
        let onMobileOrTabletBrowser = window.location.protocol === 'file:' && Object(window.cordova).platformId === 'browser'
        console.log('onMobileOrTabletBrowser', onMobileOrTabletBrowser)
        if (window.cordova && onMobileOrTabletBrowser) {
          window.open('fb://page/433180557020965', '_system')
        } else {
          window.open('https://www.facebook.com/Iweydi-433180557020965', '_system')
        }
      },
      toggleSidebar () {
        this.showSidebar = !this.showSidebar
      },
      isThisPage (pageRoute) {
        return this.$route.path === pageRoute
      }
    },
    beforeMount () {
      this.initLanguage()
      let token = localStorage.getItem('user_token')
      console.log('token', token)
      if (token && token.length > 100) {
        let userData = jwtDecode(token)
        userData.last_token = token
        console.log('userData', userData)
        this.$store.dispatch(USER_PROFIE_RESPONSE, userData)
      }
    },
    mounted () {
    },
    components: {
      'alert-messages': Messages
    }
  }
</script>

<style>
footer {
  font-family: sans-serif;
}
.top-bar-menus {
  margin-top: 0 !important;
}
footer > .copy-right {
  margin: .3em;
  max-width: 10em;
}
footer > .copy-right a {
  color: #fff;
}
footer > .version {
  max-width: 10em;
  float: right;
  margin: .3em;
  margin-right: .5em;
  font-weight: 100;
}
.loading-wrapper {
  position: absolute;
  top: 2.9em;
  right: 0;
  bottom: 0;
  left: 0;
}
.sidebar-menu-list .item i.icon {
  float: left !important;
  margin-right: 1em !important;
}
.language-btn-list {
  border: 1px solid #fafafa;
  border-radius: .2em;
}
.language-btn-list .button .flag {
  float: right;
  margin-left: .3em;
  margin-right: .3em;
}
.language-btn-list .button.selected {
  background-color: #fff !important;
  color: #004080 !important;
  margin-left: .5em;
}
</style>
