<template>
  <div class="FbButton">
    <button class="button medium expanded social-buttons-list-item" @click="Signin" type="button" name="button"> <i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i> {{$t('Facebook')}}</button>
  </div>
</template>

<script>
import fbAuth from '../services/facebook/auth'
import userAuth from '../services/iweydi/user'

export default {
  name: 'FbButton',
  data () {
    return {
    }
  },
  methods: {
    Signin (e) {
      console.log('Signin()', e)
      fbAuth.Init()
      fbAuth.Login().then(loginResp => {
        console.log('loginResp', loginResp)
        if (!loginResp.authResponse) {
          console.log('no authResponse')
          return
        }
        if (!loginResp.authResponse.accessToken) {
          console.log('no accessToken')
          return
        }
        if (!loginResp.authResponse.signedRequest) {
          console.log('no signedRequest')
          return
        }
        let vm = this
        userAuth.SocialLogin({
          'provider': 'facebook',
          'access_token': loginResp.authResponse.accessToken,
          'request_token': loginResp.authResponse.signedRequest
        }).then(resp => {
          console.log('SocialLogin Response', resp)
          let userData = resp.data.user
          vm.$store.commit('setUserData', userData)
          vm.$store.commit('setToken', userData.last_token)
          vm.$router.push({path: '/'})
        }).catch(err => {
          console.log('SocialLogin ERROR:', err)
        })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
