<template>
  <div class="home page row">
    <div class="small-12 medium-6 columns iweydi-column">
      <h2>Questions section</h2>
      <ul class="title-list">
        <li>
          <a class="wrote-by" href="#">iWeydi</a>
          <span class="author-action">wrote</span>
          <a href="#">COMMING SOON! The questions and answers section are under construction!</a>
        </li>
      </ul>
    </div>
    <div class="small-12 medium-6 columns news-column">
      <news-section></news-section>
    </div>
    <!-- <news-section></news-section> -->
  </div>
</template>

<script>
import Login from './Login'
import NewsSection from './NewsSection'

export default {
  name: 'home',
  data () {
    return {
      msg: 'Welcome to iWeydi'
    }
  },
  components: {
    'login': Login,
    'news-section': NewsSection
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.title-list li {
  list-style: none;
  box-shadow: 0 0 .3em #AAA;
  margin-bottom: .5em;
  padding-left: .2em;
}
.title-list li a {
  color: hsl(209, 100%, 26%);
  font-family: 'Amaranth', sans-serif;
}
a.wrote-by {
  font-weight: bold;
}
</style>
