<template>
  <div class="login page">
    <h1>{{ $t('Login') }}</h1>
    <div class="social-login-wrapper">
      <h5>{{ $t('Social Login') }}</h5>
      <fb-login></fb-login>
    </div>
    <div class="login-form">
      <form class="form"  @submit="loginUser">
        <div class="row">
          <div class="small-12 column">
            <label>{{$t('Email')}}
              <input type="text" v-model="email" :placeholder="$t('Email')">
            </label>
          </div>
          <div class="small-12 column">
            <label>{{$t('Password')}}
              <input type="password" v-model="password" :placeholder="$t('Password')">
            </label>
          </div>
          <div class="small-12 column">
            <button class="small hollow primary button expanded" type="submit" name="button">{{$t('Login')}}</button>
            <p>{{$t('Not yet a member?')}} <router-link to="/signup">{{$t('sign up here')}}</router-link></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import user from '../services/iweydi/user'
import FBLogin from './FBLogin'

export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    loginUser (e) {
      e.preventDefault()
      let vm = this
      console.log('login.$data', this.$data)
      user.Login(this.email, this.password).then(resp => {
        console.log('user.Login() response', resp)
        if (resp.data && resp.data.user) {
          let userData = resp.data.user
          vm.$store.commit('setUserData', userData)
          vm.$store.commit('setToken', userData.last_token)
          vm.$router.push({path: '/'})
        }
      }).catch(err => {
        console.log('user.Login() ERROR:', err.response)
      })
    }
  },
  components: {
    'fb-login': FBLogin
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.login {
  max-width: 20em;
  margin: auto;
  box-shadow: 0 0 1em #CCC;
  padding: .4em;
}
.login-form input {
  border: 1px solid #000;
  box-shadow: inset 0 0 .5em #888;
}
</style>
