<template>
  <div class="news-list">
    <ul class="title-list">
      <li v-for="item in filterByCategory(category)">
        <a class="wrote-by" :href="item.website.url" target="_blank">{{item.website.name}}</a>
        <span class="author-action">wrote</span>
        <a :href="item.url" target="_blank">{{item.title}}</a>
        <!-- <span>{{fmt(item.created_at, "dd/mm/yy hh:MM:ss")}}</span> -->
      </li>
    </ul>
  </div>
</template>

<script>
import dateFormat from 'dateformat'

export default {
  name: 'news-list',
  props: {
    items: {
      type: Array,
      default: []
    },
    category: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
    }
  },
  methods: {
    fmt (date, format) {
      return dateFormat(date, format)
    },
    filterByCategory (name) {
      // is Array
      if (Object.prototype.toString.call(this.items) !== '[object Array]') {
        return this.items
      }
      if (name === '') {
        return this.items
      }
      return this.items.filter(item => {
        return item.website.category.toLowerCase() === name.toLowerCase()
      })
    }
  },
  beforeMount () {
  },
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
