<template>
  <div class="news-section">
    <h2>News section</h2>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h3>{{$t('Latest Sports')}}</h3>
        <news-list :items="getSports" category="sports"></news-list>
      </div>
      <div class="small-12 medium-6 columns">
        <h3>{{$t('Latest News')}}</h3>
        <news-list :items="getNews" category="news"></news-list>
      </div>
    </div>
  </div>
</template>

<script>
import news from '../services/iweydi/news'
import NewsList from './NewsList'

export default {
  name: 'news-section',
  data () {
    return {
      categories: [],
      items: []
    }
  },
  methods: {
    filterByCategory (category) {
      return this.$store.getters.getNewsItems.slice().filter(item => {
        console.log(`item.category: ${item.website.category}, category: ${category}`)
        if (item.website && item.website.category === category) {
          return true
        }
      })
    },
    getLatestNews (category, page, limit) {
      console.log('getLatestNews category = ', category)
      let vm = this
      news.GetLatestNews(category, page, limit).then(resp => {
        console.log('news.GetLatestNews response', resp)
        if (resp.data && resp.data.items && vm.isArray(resp.data.items)) {
          for (var i = 0; i < resp.data.items.length; i++) {
            vm.$store.commit('setNewsItem', resp.data.items[i])
          }
        }
      }).catch(err => {
        console.log('news.GetLatestNews ERROR:', err.response)
      })
    },
    isArray (item) {
      return Object.prototype.toString.call(item) === '[object Array]'
    }
  },
  computed: {
    getNews () {
      return this.filterByCategory('News')
    },
    getSports () {
      return this.filterByCategory('Sports')
    }
  },
  beforeMount () {
    console.log('beforeMount')
    console.log('state type ', this.$store.getters.getNewsItems)
    if (this.items.length < 1) {
      this.getLatestNews('Sports', 1, 20)
      this.getLatestNews('News', 0, 20)
    }
  },
  components: {
    'news-list': NewsList
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.site-name {
  color: #000;
  font-weight: bold;
  border: 1px solid #AAA;
}
</style>
