<template>
  <div class="home page">
    <h1>{{$t('Privacy Policy')}}</h1>
    <hr>
    <ul class="privacy-items">
      <li v-for="item in privacyItems">
        {{$t(item)}}.
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'privacy',
  data () {
    return {
      privacyItems: [
        'iWeydi is not going to use any of your personal data with any other organization or people',
        'iWeydi needs your email and personal to provide you with personalized content',
        'If there is unclear item in this document the English version prevails'
      ]
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
