<template>
  <div class="home page">
    <h1>{{ $t('Signup') }}</h1>
    <div class="signup-form">
      <form class="form"  @submit="signupUser">
        <div class="row">
          <div class="small-12 column">
            <label>{{$t('Email')}}
              <input type="text" v-model="user.email" :placeholder="$t('Email')">
            </label>
          </div>
          <div class="small-12 column">
            <label>{{$t('Password')}}
              <input type="password" v-model="user.password" :placeholder="$t('Password')">
            </label>
          </div>
          <div class="small-12 column">
            <label>{{$t('First name')}}
              <input type="text" v-model="user.first_name" :placeholder="$t('First name')">
            </label>
          </div>
          <div class="small-12 column">
            <label>{{$t('Last name')}}
              <input type="text" v-model="user.last_name" :placeholder="$t('Last name')">
            </label>
          </div>
          <div class="small-12 column">
            <label>{{$t('Nationality')}}
              <select class="nationality" name="nationality" v-model="user.nationality">
                <option v-for="country in $store.getters.getAllCountries" :value="country.code">{{country.name}}</option>
              </select>
            </label>
          </div>
          <div class="small-12 column">
            <label>{{$t('Gender')}}
              <input type="radio" v-model="user.gender" name="gender" value="M" required><label for="">{{$t('Male')}}</label>
              <input type="radio" v-model="user.gender" name="gender" value="F"><label for="">{{$t('Male')}}</label>
            </label>
          </div>

          <div class="small-12 column">
            <button class="small hollow primary button expanded" type="submit" name="button">{{$t('Signup')}}</button>
            <p>{{$t('Already a member?')}} <router-link to="/signup">{{$t('login here')}}</router-link></p>
          </div>
        </div>
      </form>
      <pre>{{$data}}</pre>
    </div>
  </div>
</template>

<script>
import user from '../services/iweydi/user'

export default {
  name: 'signup',
  data () {
    return {
      user: {
        email: '',
        password: '',
        first_name: '',
        last_name: '',
        gender: '',
        nationality: 'SO'
      }
    }
  },
  methods: {
    signupUser (e) {
      e.preventDefault()
      let vm = this
      console.log('signup.$data', this.$data)
      user.Signup(this.user).then(resp => {
        console.log('user.Signup() response', resp)
        if (resp.data && resp.data.user) {
          let userData = resp.data.user
          vm.$store.commit('setUserData', userData)
          vm.$store.commit('setToken', userData.last_token)
          vm.$router.push({path: '/'})
        }
      }).catch(err => {
        console.log('user.Signup() ERROR:', err.response)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.signup-form {
  max-width: 20em;
  margin: auto;
  box-shadow: 0 0 1em #CCC;
}
.signup-form input {
  border: 1px solid #888;
  box-shadow: inset 0 0 1em #BBB;
}
</style>
