<template>
  <div id="app">
    <div class="under-construction">
      <img src="/static/img/underconstruction.jpg" alt="Website under construction">
    </div>

    <!-- TOP NAV SECTION -->
    <header-section></header-section>
    <!-- END TOP NAV SECTION -->

    <!-- SIDE BAR SECTION  -->
    <div v-if="$store.getters.showSidebar" :class="$store.getters.showSidebar ? 'small-6 medium-3 large-2 columns sidebar' : 'small-6 medium-3 large-2 columns sidebar'">
      <ul class="menu vertical">
        <li><a href="#">News Watcher</a></li>
        <li><a href="#">Questions</a></li>
        <li><a href="#">Ask</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div>
    <!-- END OF SIDE BAR SECTION  -->

    <!-- CONTENTS SECTION  -->
    <div :class="$store.getters.showSidebar ? 'small-6 medium-9 large-10 columns contents' : 'small-12 columns contents'">
      <!-- FEATURED BAR SECTION -->
      <featured-bar></featured-bar>
      <!-- END OF FEATURED BAR SECTION -->

      <router-view></router-view>

      <!-- FOOTER SECTION -->
      <footer-section></footer-section>
      <!-- END OF FOOTER SECTION -->

    </div>
    <!-- END OF CONTENTS SECTION -->

  </div>
</template>

<script>
import Header from './components/partials/Header'
import Featured from './components/partials/Featured'
import Footer from './components/partials/Footer'
import app from './services/iweydi/app'
(function (d, s, id) {
  var js
  var fjs = d.getElementsByTagName(s)[0]
  if (d.getElementById(id)) return
  js = d.createElement(s); js.id = id
  js.src = '//connect.facebook.net/en_US/sdk.js'
  fjs.parentNode.insertBefore(js, fjs)
}(document, 'script', 'facebook-jssdk'))

export default {
  name: 'app',
  data () {
    return {
      sidebarShown: false
    }
  },
  beforeMount () {
    this.$i18n.set('so')
    app.GetVersion().then(resp => {
      console.log('api.GetVersion', resp)
      if (resp.data && resp.data.version) {
        this.$store.commit('setVersion', resp.data.version)
      }
    }).catch(err => {
      console.log('Error getting app version', err)
    })
    let userData = JSON.parse(localStorage.getItem('user_data'))
    if (!userData) {
      return
    }
    if (!userData.last_token) {
      userData.last_token = localStorage.getItem('user_token')
    }
    this.$store.commit('setToken', userData.last_token)
    this.$store.commit('setUserData', userData)
  },
  components: {
    'header-section': Header,
    'featured-bar': Featured,
    'footer-section': Footer
  }
}
</script>

<style>
/* Available fonts: */
/*
font-family: 'Play', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Cuprum', sans-serif;
font-family: 'Amaranth', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Wire One', sans-serif;
 */
html, body {
  margin: 0;
  background-color: hsl(210, 0%, 92%);
  /*font-size: .9em;*/
  font-family: 'Play', sans-serif;
}
#app {
  position: relative;
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Six Caps', sans-serif;
  color: hsl(209, 100%, 56%);
  background-color: hsl(209, 100%, 12%);
  padding: .3rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  margin-top: .2rem;
  margin-bottom: .2rem;
  text-align: center;
}
.page {
  box-shadow: 0 0 1rem hsl(0, 10%, 50%);
  width: 100%;
  margin-bottom: 6rem;
  background-color: hsl(210, 0%, 97%);
}
.under-construction {
  height: 10em;
  width: 10em;
  position: absolute;
  right: .4em;
  top: 1rem;
  z-index: 1000;
}
.under-construction img {
  box-shadow: 0 0 2em #000;
}
.contents, .sidebar {
  padding: .2rem;
  position: relative;
}
.contents {
}
.column-header {
  background-color: hsl(10, 100%, 56%);
}
</style>
