body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
a {
  color: rgba(50, 155, 50, 0.9);
}
a:hover {
  color: rgba(10, 55, 10, 0.9);
  text-decoration: none;
}

h3 a {
  color: rgba(10, 55, 10, 0.9);
}
h3 a:hover {
  color: rgba(100, 155, 100, 0.9);
}

.container {
  box-shadow: 1px 2px 10px #EEE;
}
.laguages-label {
  padding: .7em;
  padding-right: 0;
}
#top-row-header {
  //border-bottom: 1px solid #FFF;
  box-shadow: 1px 1px 10px #CCC;
  background-color: rgba(50, 155, 50, 0.3);
}
#top-row-header .container {
  margin-bottom: -2px;
  margin-top: -2px;
  //overflow: hidden;
}

#top-row-header .container ul.nav li a {
  border-radius: 0;
  border-bottom: 2px solid rgba(150, 150, 150, 0.5);
}
a.head-brand-name {
  color: #fff;
  font-weight: bolder;
  font-size: 1em;
  text-shadow: 0px 0px 5px #000;
}
#top-row-header .container ul.nav li a:hover {
  border-bottom: 2px solid #000;
  color: #A93;
  text-shadow: none;
}
.arabic-menu-list {
  margin-right: -3em;
  padding-right: 0;
}
img.a-item-author-img {
  height: 3.7em;
  float: left;
  margin-right: .4em;
}
img.a-item-author-img-arabic {
  height: 3.9em;
  float: right;
  margin-left: .4em;
  margin-bottom: -1em;
  border: 1px groove #EEE;
}
.one-item-container {
  box-shadow: 0px 1px 5px #DDD;
  padding: 2px;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.one-item-container h3{
  //background-color: #EEE;
  //background-color: rgba(50, 155, 50, 0.3);
  margin:0;
  padding: .2em;
  padding-top: .1em;
  padding-bottom: .3em;
}
.one-item-container h3 {
  padding-bottom: 0;
}
.a-item-author-name, .a-item-author-description {
  font-size: .5em;
}
.counter-item {
  border-radius: 2px;
  box-shadow: inset 0px 1px 8px #5A5;
  background-color: rgba(150, 255, 150, 0.8);
  padding: .3em;
  margin-right: .4em;
}
.counter-item:hover {
  background-color: rgba(150, 255, 150, 0.5);
  cursor: pointer;
}

.horizontal-mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.vertical-mirror {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.form-control-arabic {
  border-radius: 0;
}
#success {
  color: darkgreen;
  text-align: center;
  width: 25em;
  margin: auto;
}
#error {
  color: red;
  text-align: center;
  width: 25em;
  margin: auto;
}
.answer-btn {
  height: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
}
.i-hate-this, .i-love-this {
  cursor: not-allowed;
}
.pull-left {
  float: left;
  position: relative;
  margin-left: 0;
}
textarea
{
  width:100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}
.a-item-header {
  border: 1px solid #EEE;
  margin-bottom: .5em;
}
.a-item-header img {
  margin: 4px;
  max-height: 4em;
  border-radius: 15%;
}
.a-item-header h3 {
  background-color: rgba(50, 155, 50, 0.35);
}

.read-more-btn {
  //float: right;
  //margin: .5em;
  //margin-top: -1em;
}
