<template>
  <div class="featured-bar">
    <h5>Featured</h5>
  </div>
</template>

<script>

export default {
  name: 'featured-bar',
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.featured-bar {
  box-shadow: 0 0 1rem hsl(0, 10%, 50%);
}
</style>
