<template>
  <div class="footer-section">
    <div class="row">
      <div class="small-12 medium-6 large-3 columns">

      </div>
      <div class="small-12 medium-6 large-3 columns">

      </div>
      <div class="small-12 medium-6 large-3 columns">
        Version: {{$store.getters.getVersion}}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'featured-bar',
  data () {
    return {
    }
  },
  methods: {
    getVersion () {
      return this.$store.getters.getVersion
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.footer-section {
  box-shadow: 0 0 1rem hsl(0, 10%, 50%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
</style>
