<template>
  <div class="header">
    <div class="">
      <div class="top-menus">
        <ul class="menu">
          <li @click="toggleSidebar">
            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </li>
          <li class="menu-text">
            <a class="active" href="#">iWeydi</a>
          </li>
          <li><a href="#">News Watcher</a></li>
          <li><a href="#">Questions</a></li>
          <li><a href="#">Ask</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  name: 'header-section',
  data () {
    return {
    }
  },
  methods: {
    toggleSidebar (e) {
      console.log('toggleSidebar')
      this.$store.commit('toggleSidebar')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.top-menus, .top-menus li, .top-menus li {
  background-color: hsl(240, 24%, 24%);
  color: #EEE;
  padding: .2em;
  margin: 0;
}
.top-menus a {
  color: hsl(209, 100%, 76%);
}
.top-menus a.active {
  color: hsl(209, 100%, 100%);
}
.search input, .search  button {
  margin: 0;
}
</style>
