<template>
  <div class="page">
    <div id="home">
      <h5>{{$t('Latest questions')}}</h5>
      <div class="latest-q-and-a-list">
        <div class="ui relaxed celled list">
          <div class="item" v-for="(question, index) in latestQuestions" :key="index">
            <div class="right floated content user-reaction-labels">
              <div class="ui mini labels">
                <a class="ui blue basic label">
                  <i class="chevron up icon"></i> {{shortCounter(question.love_count)}}
                </a>
                <a class="ui red basic label">
                  {{shortCounter(question.hate_count)}} <i class="chevron down icon"></i>
                </a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <router-link :to="{path: '/question', query: {questionId: question.url}}">{{question.text}}</router-link>
              </div>
              <div class="description">
                {{question.description}}
              </div>
            </div>
            <div class="q-and-a-meta">
              <div class="q-and-a-meta-item">
                <i class="user icon"></i> {{question.authoer.name}}
              </div>
              <div class="q-and-a-meta-item">
                <i class="comment icon"></i> {{shortCounter(question.comment_count)}}
              </div>
              <div class="q-and-a-meta-item">
                <i class="pencil icon"></i> {{question.updated_at}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <h5>{{$t('Answers')}}</h5>
      <div class="latest-q-and-a-list">
        <div class="ui relaxed celled list">
          <div class="item" v-for="(answer, index) in latestAnswers" :key="index">
            <div class="right floated content user-reaction-labels">
              <div class="ui mini labels">
                <a class="ui blue basic label">
                  <i class="chevron up icon"></i> {{shortCounter(answer.love_count)}}
                </a>
                <a class="ui red basic label">
                  {{shortCounter(answer.hate_count)}} <i class="chevron down icon"></i>
                </a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <router-link :to="{path: '/answer', query: {answerId: answer.url}}">{{answer.question}}</router-link>
              </div>
              <div class="description">
                {{firstChars(answer.text, 110)}}
              </div>
            </div>
            <div class="q-and-a-meta">
              <div class="q-and-a-meta-item">
                <i class="user icon"></i> {{answer.authoer.name}}
              </div>
              <div class="q-and-a-meta-item">
                <i class="comment icon"></i> {{shortCounter(answer.comment_count)}}
              </div>
              <div class="q-and-a-meta-item">
                <i class="pencil icon"></i> {{answer.updated_at}}
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>
<script>
export default {
  name: 'home',
  computed: {
    latestQuestions () {
      return this.$store.getters.getLatestQuestions
    },
    latestAnswers () {
      return this.$store.getters.getLatestAnswers
    }
  },
  methods: {
    firstChars (text, charCount) {
      if (!text) {
        return text
      }
      if (charCount.constructor.name !== 'Number') {
        charCount = parseInt(charCount)
      }
      // check if charCount is NaN, NaN === NaN alwasy return false
      if (Number.isNaN(charCount)) {
        return text
      }
      if (text.length <= charCount) {
        return text
      }
      return text.split('').splice(0, charCount).join('') + '...'
    },
    shortCounter (num) {
      if (num < 1000) {
        return num
      }
      if (num > 1000000) {
        return this.fixNan(Number(num / 1000000).toFixed(1), 'm')
      } else if (this.fixNan(Number(num > 1000).toFixed(1))) {
        return this.fixNan(Number(num / 1000).toFixed(1), 'k')
      }
      return num
    },
    fixNan (num, suffix) {
      if (Number.isNaN(num)) {
        return ''
      }
      return num + suffix
    }
  }
}
</script>
<style>
.home {
  margin-bottom: 2em;
}
.user-reaction-labels {
  max-width: 3em;
}
.user-reaction-labels .labels {
  margin: 0;
  max-width: 3em;
  align-content: center;
}
.user-reaction-labels .labels .label {
  margin: 0;
}
.latest-q-and-a-list .q-and-a-meta {
  margin-top: .2em;
  padding: .1em;
}
.latest-q-and-a-list .q-and-a-meta .q-and-a-meta-item {
  width: fit-content;
  margin-right: .4em;
  max-width: 10em;
  float: left;
}
</style>
