<template>
  <div class="page">
    <div class="login">
      <h1>{{$t('Login')}}</h1>
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="ui form">
            <div class="field">
              <button class="ui fluid facebook button" @click="facebookLogin">
                <i class="facebook icon"></i>
                Facebook
              </button>
            </div>
            <div class="field">
              <button class="ui fluid google plus button" @click="googleLogin">
                <i class="google plus icon"></i>
                Google Plus
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Google from '../services/auth/google'
import Facebook from '../services/auth/facebook'
import Auth from '../services/iweydi-api/modules/auth'
import {USER_PROFIE_RESPONSE, LOADING, ADD_ALERT_MESSAGE} from '../store/mutations-constants'
import {EventBus} from '../main'

export default {
  name: 'login',
  data () {
    return {
      providers: {gplus: 'Google plus', facebook: 'Facebook'}
    }
  },
  methods: {
    googleLogin () {
      let self = this
      // on cordova and plugins is ready
      if (window.cordova && window.cordova.platformId !== 'browser' && window.plugins && window.plugins.googleplus) {
        // on native app
        console.log('trying to login to google using native backend', window.plugins.googleplus)
        this.$store.dispatch(LOADING, {isLoading: true})
        Google.googleNativeLogin(data => {
          console.log('Google.googleNativeLogin success', data)
          if (data && data.accessToken) {
            self.socialLogin('gplus', data.accessToken)
          } else {
            EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Google login failed, error: returned no access_token`, msgType: 'negative'})
            self.$store.dispatch(LOADING, {isLoading: false})
          }
        }, err => {
          console.log('Google.googleNativeLogin error', err)
          EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Google login failed, error: ${err.toString()}`, msgType: 'negative'})
          self.$store.dispatch(LOADING, {isLoading: false})
        })
      } else if (this.$googleAuth) {
        // on webapp and have vue-google-oauth
        console.log('trying to login to google using browser backend')
        self.$store.dispatch(LOADING, {isLoading: true})
        Google.googleBrowserLogin(this.$googleAuth, data => {
          console.log('Google.googleBrowserLogin response', data)
          if (data && data.access_token) {
            self.socialLogin('gplus', data.access_token)
          } else {
            self.$store.dispatch(LOADING, {isLoading: false})
            EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Google login failed, error: returned no access_token`, msgType: 'negative'})
          }
        }, err => {
          console.log('Google.googleBrowserLogin error', err)
          if (err.error) {
            EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Google login failed, error: ${err.error}`, msgType: 'negative'})
          } else {
            EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Google login failed, error: ${err.toString()}`, msgType: 'negative'})
          }
          self.$store.dispatch(LOADING, {isLoading: false})
        })
      }
    },
    facebookLogin () {
      let self = this
      console.log('facebookLogin', [window.facebookConnectPlugin, window.FB])
      self.$store.dispatch(LOADING, {isLoading: true})
      Facebook.facebookLogin(data => {
        console.log('FacebookLogin success', data)
        if (data && data.token) {
          console.log('login successfully, token =', data.token)
          self.socialLogin('facebook', data.token)
        } else if (data && data.authResponse && data.authResponse.accessToken) {
          console.log('login successfully, token =', data.authResponse.accessToken)
          self.socialLogin('facebook', data.authResponse.accessToken)
        } else {
          EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Facebook login failed, error: invalid token`, msgType: 'negative'})
        }
      }, err => {
        console.log('facebookLogin error', err)
        if (err.errorMessage) {
          EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Facebook login failed, error: ${err.errorMessage}`, msgType: 'negative'})
        } else {
          EventBus.$emit(ADD_ALERT_MESSAGE, {text: `Facebook login failed, error: ${err.toString()}`, msgType: 'negative'})
        }
        self.$store.dispatch(LOADING, {isLoading: false})
      })
    },
    socialLogin (provider, token) {
      let self = this
      console.log(`Login.socialLogin: provider: ${provider}`, Auth)
      if (!token) {
        console.log('socialLogin no token passed')
        EventBus.$emit(ADD_ALERT_MESSAGE, {text: `${this.providers[provider]} returned no token`, msgType: 'negative'})
        self.$store.dispatch(LOADING, {isLoading: false})
      } else {
        Auth.socialLogin(provider, token).then(resp => {
          console.log(`Social login with ${provider} success response`, resp)
          self.$store.dispatch(LOADING, {isLoading: false})
          if (resp && resp.data && resp.data.user && resp.data.user.last_token) {
            EventBus.$emit(ADD_ALERT_MESSAGE, {text: self.$t(`{provider} login success`, {provider: this.providers[provider]}), msgType: 'positive'})
            self.$store.dispatch(USER_PROFIE_RESPONSE, resp.data.user)
            self.$router.push('/')
          } else {
            EventBus.$emit(ADD_ALERT_MESSAGE, {text: `iweydi authentication error: received no token`, msgType: 'negative'})
          }
        }).catch(err => {
          self.$store.dispatch(LOADING, {isLoading: false})
          EventBus.$emit(ADD_ALERT_MESSAGE, {text: `${this.providers[provider]} login failed`, msgType: 'negative'})
          console.log(`Social login with ${this.providers[provider]} error`, err.response)
        })
      }
    }
  },
  mounted () {
    if (this.$store.getters.isUserAuthenticated) {
      this.$router.push('/')
      EventBus.$emit(ADD_ALERT_MESSAGE, {text: `You are already logged in!`, msgType: 'warning'})
    }
  }
}
</script>
<style>
.login {
  margin: 1em;
}
</style>
