<template>
  <div class="messages">
    <div :class="`ui ${msg.msgType} message`" v-for="msg in messages" :key="msg.id">
      <i class="close icon" @click="removeMessage(msg.id)"></i>
      <div class="header">{{msg.text}}</div>
    </div>
  </div>
</template>
<script>
import {REMOVE_ALERT_MESSAGE, ADD_ALERT_MESSAGE} from '../store/mutations-constants'
import {EventBus} from '../main'

export default {
  name: 'messages',
  data () {
    return {
      messagesTimeout: 0
    }
  },
  computed: {
    messages () {
      return this.$store.getters.getAlertMessages
    }
  },
  methods: {
    removeMessage (id) {
      this.$store.dispatch(REMOVE_ALERT_MESSAGE, {id})
    },
    autoRemoveMessages () {
      if (this.messages && this.messages.length > 0) {
        let lastIndex = this.messages.length - 1
        if (lastIndex >= 0 && typeof this.messages[lastIndex].id === 'number') {
          console.log('autoRemoveMessages', this.messages[lastIndex].id)
          this.removeMessage(this.messages[lastIndex].id)
        }
      }
      let self = this
      self.messagesTimeout = setTimeout(function () {
        self.autoRemoveMessages()
      }, 3000)
    }
  },
  mounted () {
    let self = this
    EventBus.$on(ADD_ALERT_MESSAGE, data => {
      console.log('received new message ', data)
      self.$store.dispatch(ADD_ALERT_MESSAGE, data)
      clearInterval(self.messagesTimeout)
      self.messagesTimeout = setTimeout(function () {
        self.autoRemoveMessages()
      }, 3000)
    })
  }
}
</script>
<style>
.messages {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: .3em;
  z-index: 100;
}
/* .messages .message {
} */
</style>
