<template>
  <div class="page">
    <div id="privacy">
      <h1>{{$t('Privacy policy')}}</h1>
      <div class="ui container">
        <div class="ui relaxed list">
          <div class="item" v-for="(term, index) in list" :key="index">
            <div class="content">
              <div class="header">{{$t(term)}}</div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</template>
<script>
export default {
  name: 'privacy',
  data () {
    return {
      list: [
        'iWeydi is platform for exchanging knowledge and ideas',
        'Any answer you share on the platform can be seen by anyone',
        'You can hide your identity when you think your answer might bring security risk to you or your family',
        'We will not share your personal info with other third-parties when you request to hide it',
        'Questions and answers you set to anonymous mode will not be associated with your profile',
        'Avoid sharing information that can be used to identify you when you are answering or asking in anonymous mode',
        'When third party requests to publish your answer to a question, you have the right to refuse it',
        'All information you share on iWeydi belongs to you and you are solely responsible'
      ]
    }
  }
}
</script>
<style>
.privacy {
  margin-bottom: 2em;
}
</style>
