<template>
  <div class="page">
    <div class="question">
      <div v-if="getPageMode === 'new'" class="new-question-form">
        <h5>{{$t('New question')}}</h5>
        <form @submit="publishQuestion" class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" v-model="newQuestion.anonymous">
              <label>{{$t('Anonymous')}}</label>
            </div>
          </div>

          <div class="fields">
            <div class="fourteen wide field">
              <input type="text" v-model="newQuestion.text" :placeholder="$t('Enter your question here')">
            </div>
            <div class="two wide field">
              <select class="ui search dropdown">
                <option value="">{{$t('Langauge')}}</option>
                <option v-for="lang in languages" :key="lang.code" :selected="lang.selected === true" :value="lang">{{lang.name}}</option>
              </select>
            </div>
          </div>
          

          <div class="field">
            <textarea v-model="newQuestion.description" :placeholder="$t('Enter more details about this question')"></textarea>
          </div>

          <div class="field">
            <button class="ui right floated primary button" type="submit">
              <i class="send icon"></i>
              {{$t('Publish')}}
            </button>
          </div>
          
        </form>
      </div>
      <div v-else-if="getPageMode === 'update'" class="new-question-form">
        <h5>{{$t('Update question')}}</h5>
        <div class="ui form">
          <div class="field">
            <input type="text" v-model="question.text" :placeholder="$t('Enter your question here')">
          </div>
        </div>
      </div>

      <div v-if="getPageMode === 'detail'" class="question-details">
        <h5>{{question.text}}</h5>
        <p>
          {{question.description}}
        </p>
        <div class="question-answers">
          <div class="ui raised segment" v-for="answer in question.answers" :key="answer.id">
            <div class="answer-meta-header">
              <router-link class="ui image label" :to="`/profile/${answer.author.url}`">
                <img src="/images/avatar/small/joe.jpg">
                {{answer.author.full_name || 'Anonymous'}}
              </router-link>
            </div>
            <div class="anwer-body-text">
              {{answer.text}}
            </div>
            <div class="answer-meta-footer">
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
import {EventBus} from '../main'
import {ADD_ALERT_MESSAGE} from '../store/mutations-constants'
import API from '../services/iweydi-api'
export default {
  name: 'question',
  data () {
    return {
      languages: [
        {code: 'en', name: 'English', selected: false},
        {code: 'so', name: 'Af-Soomaali', selected: false},
        {code: 'ar', name: 'العربية', selected: false}
      ],
      newQuestion: {
        'text': '',
        'description': '',
        'language': {code: 'en'},
        'anonymous': false
      },
      question: {
      }
    }
  },
  computed: {
    getPageMode () {
      if (!this.$route.query.questionId) {
        return 'new'
      } else if (this.$route.query.questionId && this.$route.query.update) {
        return 'update'
      }
      return 'detail'
    }
  },
  methods: {
    publishQuestion (e) {
      e.preventDefault()
      if (this.newQuestion.text.length < 5) {
        EventBus.$emit(ADD_ALERT_MESSAGE, {text: 'question is too short', msgType: 'negative'})
        return
      }
      let self = this
      API.Question.AddQuestion(this.newQuestion, this.$store.getters.getJwtToken).then(resp => {
        console.log('AddQuestion response', resp)
        if (resp.data && resp.data.question && resp.data.question.id) {
          self.$router.push({path: '/question', query: {questionId: resp.data.question.id}})
        }
      }).catch(err => {
        console.log('AddQuestion error', err.response)
      })
    },
    getQuestion () {
      let self = this
      API.Question.GetQuestion(this.$route.query.questionId, this.$store.getters.getJwtToken).then(resp => {
        console.log('GetQuestion response', resp)
        self.question = resp.data.question
      }).catch(err => {
        console.log('GetQuestion response', err.response)
      })
    }
  },
  beforeMount () {
    // auto select the question language
    for (var i = 0; i < this.languages.length; i++) {
      console.log(`${i}. ${this.languages[i].code} === ${this.$i18n.locale()}`)
      if (this.languages[i].code === this.$i18n.locale()) {
        this.languages[i].selected = true
      } else {
        this.languages[i].selected = false
      }
    }
    this.getQuestion()
  }
}
</script>
<style>
.question {
  margin: .3em;
  margin-bottom: 2em;
}
</style>
