<template>
  <div class="page">
    <div id="terms">
      <h1>Terms</h1>
      <div class="ui container">
        <div class="ui relaxed list">
          <div class="item" v-for="(term, index) in terms" :key="index">
            <div class="content">
              <div class="header">{{$t(term)}}</div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</template>
<script>
export default {
  name: 'terms',
  data () {
    return {
      terms: [
        'iWeydi is a platform for exchanging knowledge and ideas.',
        'You are responsible for anything you share on iWeydi',
        'You agree not to help or promote violance',
        'If the filter identifies your usage as unethical or illegal iWeydi can cease your service and ban you from using the platform',
        'You share accurate information and your true opinion when answering questions posted on iWeydi',
        'If the information you write is pure opinion tell that in your answers'
      ]
    }
  }
}
</script>
<style>
.terms {
  margin-bottom: 2em;
}
</style>
